{% extends "blog/base.html" %}
{% block title %}博客{% endblock %}
{% block body %}
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="{% url 'blog:index' %}">首页</a>
          {% if user.is_authenticated %}
          <a class="blog-nav-item" href="{% url 'blog:myblog' %}">我的主页</a>
          <a class="blog-nav-item" href="/accounts/logout/">退出</a>
          {% else %}
          <a class="blog-nav-item" href="/accounts/signup/">注册</a>
          <a class="blog-nav-item" href="/accounts/login/">登录</a>
          {% endif %}
          <form class="navbar-search pull-right" action="{% url 'blog:post_search'%}">
            <input type="text" class="search-query" placeholder="search">
            <button type="submit" class="btn btn-default">搜索</button>
          </form>
        </nav>
      </div>
    </div>

    <div class="container">
        <ul>
          {% for post in posts %}
          <li>{{ post }}</li>
          {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}